.navbar-higher{
  margin-bottom: 0;
  border-radius: 0;
}

.carousel-382 .item img {
  height: 382px;
}
.header{
  background-image: url(http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg);
  height: 222px;
}
